*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;    
    height: 100vh;          
    min-height: 100%;     
}

.resultado {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    width: 90%;
    max-width: 500px;
    text-align: center;
}

.informacao {
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 20px;
}


.titulo{
    font-size: 20px;
    margin-bottom: 4px;
}

h2, p{
    padding: 10px;
    font-size: 20px;
    border-radius: 5px;
}

h2{
    font-size: 24px;
    margin-bottom: 20px;
}

.text{
    display: flex;
    justify-content: center;
}

.abaixo{
    color: #25c1cf;
}

.normal{
    color: #16a5b2;
}

.sobre{
    color: #e87957;
}

.grauI{
    color: #e46d49;
}

.grauII{
    color: #ec6a6a;
}

.grauIII{
    color: #eb4e4e;
    
}

@media (max-width:500px) {
    
    body,input, button{
        font-size: 15px;
    } 
    
}