*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    width: 95vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    color: #03152e;
    margin: 2%;
}

form{
    width: 30%;
    height: 60%;
    background-color: transparent;
    color: #d490bacc;
    backdrop-filter: blur(5px);
    box-shadow: 0 0 20px;
    display: inline;
    justify-content: center;
    justify-items: center;
    align-items: center;
    border-radius: 5%;
    margin-top: 5%;
}

h1{
    margin-top: 10%;
    margin-bottom: 5%;
    color: #e057ab;
}

label{
    color: #bc5394;
}

.enviar input{
    background-color: #fa6fc5;
    color: white;
    width: 100%;
    padding: 8px;
    margin-top: 15%;
    border-radius: 5px;
    border: 2px solid #e9e9e9a3;
    cursor: pointer;
}

.peso input{
    border-radius: 5px;
    width: 100%;
    height: 30px;
    border: 2px solid #e9e9e9a3;
    background-color: #e9e9e9a3;
    transition: 0.3s;
    margin-bottom: 17px;
}

.altura input{
    border-radius: 5px;
    width: 100%;
    height: 30px;
    border: 2px solid #e9e9e9a3;
    background-color: #e9e9e9a3;
    transition: 0.3s;
}

input:focus{
    border-color: #bc5394;
    outline: none;
}

@media (max-width:500px) {
    
    body,input, button{
        font-size: 15px;
    } 
}