body{
    font-family: sans-serif;
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  
}

.estado{
    display: flex;
    margin-top: -3.3%;
    margin-left: 46%;
}

.estado select{
    margin-left: 2%;
}

.email{
    margin-top: 3%;
}
form {
    margin: 6%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 500px;
    background-color: #f9f9f9;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
}

input {
    width: 95%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
}

button {
    width: 45%;
    padding: 15px;
    margin-left: 28%;
    margin-top: 3%;
    background-color: #4c86af;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 4px;
    transition: 0.1s;
    cursor: pointer;
}

button:hover{
    background-color: #406988;
}

h1{
    color: #4c86af;
    justify-content: center;
    align-items: center;
    text-align: center;
}