body {
    font-family: Arial, sans-serif; 
    background-color: #f4f4f9;
    color: #333; 
    margin: 0;
    padding: 0;
}
.container {
    max-width: 500px; 
    margin: 50px auto; 
    padding: 30px; 
    background-color: #fff; 
    border-radius: 8px; 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    min-height: 315px;
}

.informacoes{
    margin-top: 5px;
    margin-bottom: 15px; /* Espaço entre as informações */
    line-height: 1.6;
}
h1 {
    color: #4c86af;
    text-align: center; 
    font-size: 32px; 
    margin-bottom: 20px; 
}
